<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Trading App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
</head>
<body>
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data" id="input-form">
            {% csrf_token %}
            <h1>Devices</h1>
            <label for="ip">enter Machine detail:</label>
            <select class="js-example-basic-single" id="ip" name="ip" style="width: 100%;"><br>
                {% for option in data %}
                    <option>{{option}}</option>
                {% endfor %}
            </select>
            <button type="submit" value="Submit">Submit</button><br>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#ip').select2();
        });
    </script>  
</body>
</html>
